[submodule "Assignments/HW2_CWebClient/HW2_CWebClient"]
	path = Assignments/HW2_CWebClient/HW2_CWebClient
	url = https://github.com/ursinusnetworks/HW2_CWebClient.git
[submodule "Assignments/HW0_Software/HW0_SoftwareTest"]
	path = Assignments/HW0_Software/HW0_SoftwareTest
	url = https://github.com/ursinusnetworks/HW0_SoftwareTest.git
[submodule "Assignments/HW2_HTTPWebGet/HW2_HTTPWGet"]
	path = Assignments/HW2_HTTPWebGet/HW2_HTTPWGet
	url = https://github.com/ursinusnetworks/HW2_HTTPWGet.git
[submodule "Assignments/HW3_ProxyServer/HW3_ProxyServer"]
	path = Assignments/HW3_ProxyServer/HW3_ProxyServer
	url = https://github.com/ursinusnetworks/HW3_ProxyServer.git
[submodule "Assignments/HW4_DNSQuery/HW4_DNSQuery"]
	path = Assignments/HW4_DNSQuery/HW4_DNSQuery
	url = https://github.com/ursinusnetworks/HW4_DNSQuery.git
